* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px Helvetica, Arial;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
#send-message {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#send-message input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}
#send-message button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}
#chat {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  height: calc(100vh - 64px);
  overflow-y: scroll;
}
#chat li {
  padding: 5px 10px;
  margin-left: 100px;
}
#chat li:nth-child(odd) {
  background: #eee;
}
.modal-bg {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 67px);
  top: 67px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
.modal-content {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1rem 3rem 1rem;
  transform: translate(-50%, -50%);
  width: 40%;
  max-height: 90%;
  background-color: #fff;
}
.aside-left {
  position: absolute;
  width: 100px;
  left: 0;
  top: 68px;
  height: calc(100vh - 108px);
  padding: 0 0.5rem;
  background-color: #fff;
  overflow: hidden;
}
.user-name {
  position: relative;
  padding-left: 10px;
  overflow: hidden;
}
.user-name span {
  overflow: hidden;
}

.mui-checkbox input {
  display: block;
}
.hint {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  color: #2196f3;
}
.mui-tabs__bar{
  margin-bottom: 1rem;
}
.mui-checkbox{
  display: flex;
  align-items: center;
  line-height: 20px;
}
.mui-tabs__pane{
  text-align: right;
}
.time{
  font-size: 0.7rem;
  font-style: italic;
   margin-right: 0.5rem;
}
.name{
  font-weight: bold;
  margin-right: 0.5rem;
}
.text{

}
.onLine::before, .ofLine::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  content: '';
  width: 5px;
  height: 5px; 
  border-radius: 50%;
}

.onLine::before{
  background-color: green;
}
.ofLine::before{
  background-color: red;
}