html
head
  link(href="//cdn.muicss.com/mui-0.10.1/css/mui.min.css" rel="stylesheet" type="text/css")
  link(href="./../css/main.css" rel="stylesheet" type="text/css")
  link(href="./../css/chat.css" rel="stylesheet" type="text/css")
  script(src="/socket.io/socket.io.js")
  script(src="//cdn.muicss.com/mui-0.10.1/js/mui.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js")
  title File storage
body
  header(class="mui-appbar")
     table(width="100%")
      tr(style="vertical-align:middle;")
        td( class="mui--appbar-height")
        td(class="mui--appbar-height" align="right")
          a(href="/") Home
          a(href="/text") Text
          a(href="/chat" class="active-link") Chat
          a(href="/users") Users list
  ul(id="chat")
  form(action="" id="send-message")
    input(id="m" autocomplete="off")
    button(type="submit") Send
  div(class="aside-left")
    <h6>Who is online:</h6>
    ul(class="who-online")
    button(class="mui-btn hint") Hint

  </div>
 
  script(src="./../js/chat.js")      