html
head
  link(href="//cdn.muicss.com/mui-0.10.1/css/mui.min.css" rel="stylesheet" type="text/css")
  link(href="./../css/main.css" rel="stylesheet" type="text/css")
  link(href="./../css/chat.css" rel="stylesheet" type="text/css")
  script(src="/socket.io/socket.io.js")
  script(src="//cdn.muicss.com/mui-0.10.1/js/mui.min.js")
  title File storage
body
  div(class="mui-appbar")
     table(width="100%")
      tr(style="vertical-align:middle;")
        td( class="mui--appbar-height")
        td(class="mui--appbar-height" align="right")
          a(href="/") Home
          a(href="/text") Text
          a(href="/chat") Chat
          a(href="/users") Users list
  ul(class="user-list")        
    each user in data.usersList
      =JSON.stringify(user)
      li
        a(href="/users/get-one?id="+user.userNumb)=user.loginName 